.container
{
  width: 90%;
  margin: 0 auto;
}


.move
{

  float:right;
  padding-top: 55px;
  padding-right: 20px;


}
header
{
  background-color:#B8CB21;
}


.txtStyle
{
  color: #B8CB21;
}

.txtStyle
{

}
